
<style>
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap");
* {font-family: "Poppins", sans-serif;}

.h1-green {
  font-weight: 600;
  color: #004C40;
}

.h2 {
  font-size: 1.2em;
  font-weight: 500;
  color: #004C40;
}

.p {
  font-size: 1em;
  font-weight: 400;
  color: #222627;
  line-height: normal;
}

.email-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E3E9E9;
}

.email-content {
  padding: 15px;
  margin: 15px;
  border-radius: 8px;
  background-color: white;
  text-align: center;
}
.button__checking {
text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 5px;
  color: #FFF;
  background: #00796B;
  border: 1px solid #00796B;
}
.button__checking:hover {
  color: #00796B;
  background: transparent;
  border: 1px solid #00796B;
}
</style>
<div class="email-wrapper">
    <div class="email-content">
        <h1 class="h1-green">Réinitialisation du mot de passe</h1>

        <p>Bonjour {{ user.firstname }} {{ user.lastname }}</p>
        <div class="p">
        <p>Pour votre demande de réinitialisation de mot de passe, veuillez cliquer sur le lien suivant : </p><a href="{{ url|raw }}" class="button__checking">Réinitialiser mon mot de passe</a>
        <p>Merci</p>
        </div>
    </div>
</div>