{% extends 'base_backOffice.twig' %}

{% block title %}Bienvenue{% endblock %}
{% block navbar %}{% endblock %}
{% block sideNavbar %}{% endblock %}
{% block body %}
<div class="form-center">
    <h1 class="a-title1 -center">Bienvenue !</h1>
    <h2>On y est presque...</h2>
    <div class="generic-m40b">
        <p>Vous n'avez plus qu'à activer ce compte grâce au mail qui vous a été envoyé !</p>
    </div>
    <div class="generic-center">
        {% include '@atom/button/button.html.twig' with {
            text: "Activer mon compte",
            attributeList: {
                class: '-primaryGhost',
                href: 'https://mailtrap.io/inboxes/1989988/messages',
            }
        } only %}
    </div>
</div>
{% endblock %}