{% extends 'base.html.twig' %}
{% block navbar %}{% endblock %}
{% block sideNavbar %}{% endblock %}
{% block title %}Produits{% endblock %}

{% block body %}
	<div class="l-frontOffice__content -centerBlock">
		{% include( pageInclude ) %}
	</div>

{% endblock %}
