{% extends 'base.html.twig' %}
{% block navbar %}{% endblock %}
{% block sideNavbar %}{% endblock %}
{% block title %}Produits{% endblock %}

{% block body %}
	<div class="l-frontOffice__content -centerBlock">
        {% for message in app.flashes('success') %}
			{% include '@molecule/addflash/addflash.html.twig' with {
				text: message,
			} %}		
		{% endfor %}
		{% include '@organism/gallery/gallery.html.twig' with {
            CardText: "En savoir plus",
			CardClass: "-backgroundGreen",
            attributeList: {
                class: '-grid24',
            }
        }  %}
	</div>

{% endblock %}
