/*
* Atoms
*
*/

//buttons
.a-btn {
    @include textButton;
    padding: 8px 16px;
    border-radius: 5px;
    &.-primary {
        @include regular-btn($color-primary, $color-white);
    }
    &.-primaryGhost {
        @include ghost-btn($color-primary, $color-white);
    }
    &.-primaryGhostLight {
        @include ghost-btn($color-background, $color-secondary);
    }
    &.-alert {
        @include regular-btn($color-alert, $color-white);
    }
    &.-alertGhost {
        @include ghost-btn($color-alert, $color-white);
    }
}

.a-icon {
    width: 20px;
    height: auto;
    margin: 8px;
}

/*
* Molecules
*
*/
.m-cardWithImage {
    @include generic-flexCenterColumn;
    border-radius: 8px;
    background-color: $color-white;
    &__image {
        border-radius:  8px 8px 0 0;
        width: 100%;
        object-fit: cover;
        height: 200px;
    }
    &__buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 0 8px;
    }
    & h2 {
        margin: 0 8px;
    }
}

.m-cardAddNew {
    @include textButton;
    height: 100%;
    @include generic-flexCenterColumn;
    justify-content: center;
    border-radius: 8px;
    background: $color-primary;
    color: $color-white;
}

/*
* Organisms
*
*/
.o-pageWithCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 16px;
    justify-content: left;
}

/*
* Generics rules
*
*/

.generic-flex {
    display: flex;
    .-column {
        flex-direction: column;
    }
    .-alignCenter {
        align-items: center;
    }
    .-justifyCenter {
        justify-items: center;
    }

}

.generic-m8 {
    margin: 8px;
}

.generic-m16 {
    margin: 16px;
}

.generic-m8_row {
    margin: 8px 0;
}

.generic-m16_row {
    margin: 16px 0;
}

