//buttons
@mixin textButton {
    text-transform: uppercase;
    font-size: $normalFont;
    font-weight: $medium;
}

@mixin ghost-btn($colour, $colour-text) {
    color: $colour;
    background: transparent;
    border: 1px solid $colour;
    &:hover, :focus {
        color: $colour-text;
        background: $colour;
        border: 1px solid $colour;
    }
}

@mixin regular-btn($colour, $colour-text) {
    color: $colour-text;
    background: $colour;
    border: 1px solid $colour;
    &:hover, :focus {
        color: $colour;
        background: transparent;
        border: 1px solid $colour;
    }
}

// links
@mixin a-textLink__light {
    color: $color-white;
    font-size: $normalFont;
    font-weight: $medium;  
    &:hover{
      font-weight: $semiBold;
    }
    &:active{
      color: $color-light;
    }
  }

  @mixin a-textLink__primary {
    color: $color-secondary;
    font-size: $normalFont;
    font-weight: $medium;  
    &:hover{
      font-weight: $medium;
    }
    &:active{
      color: $color-light;
    }
  }

//generic
@mixin generic-flexCenterColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}