// Site global colors
$color-primary: #00796B;
$color-secondary: #004C40;
$color-light: #48a999;
$color-light--opacity: #48a9995f;
$color-background: #E3E9E9;
$color-background-element: #FFF;
$color-alert: #EC6262;
$color-black: #161616;
$color-white: #FFF;
$color-transparent: transparent;
$color-website: #689F38;

$regular: 400;
$medium: 500;
$semiBold: 600;
$normalFont: 16px;