.a-icon {
    width: 20px;
    height: auto;
    margin: 8px;
}

.a-logo {
    display: flex;
    align-items: center;
    width: 10vw;
}

/*
* Generics rules
*
*/

.generic-flex {
    display: flex;
    &.-column {
        flex-direction: column;
    }
    &.-alignCenter {
        align-items: center;
    }
    &.-justifyCenter {
        justify-items: center;
    }
}

.generic-m8 {
    margin: 8px;
}

.generic-m8r {
    margin-right: 8px;
}

.generic-m16 {
    margin: 16px;
}

.generic-m16r {
    margin-right: 16px;
}

.generic-m8_row {
    margin: 8px 0;
}

.generic-m8_col {
    margin: 0 8px;
}

.generic-m16_row {
    margin: 16px 0;
}

.generic-m40t {
    margin-top: 40px;
}

.generic-m40b {
    margin-bottom: 40px;
}

.generic-whiteBackground {
    background-color: $color-white;
    border-radius: 10px;
    padding: 24px;
    margin-bottom: 24px;
}

.generic-greenBackground {
    background-color: $color-primary;
}

.generic-center {
    text-align: center;
}

/*
* FORMS
*
*/
.form-cancel {
    position: absolute;
    top: 16px; left: 16px;
    vertical-align: baseline;
    cursor: pointer;
}

.form-center {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-white;
    border-radius: 8px;
    padding: 32px 40px;
}

.formInput {
    margin: 8px 0;
}

.formField, .password-field, .form-control  {
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    border: 1px solid $color-primary;
    padding: 8px 16px;
    border-radius: 5px;
    font-style: italic;
    font-size: $normalFont;
    font-weight: $regular;
    color: $color-black;

    &:focus {
        border: 1px solid $color-primary;
        outline: none;
        background-color: $color-light--opacity;
    }
}

.formLabel {
    @extend %a-label;
}

.vich-image {
    display: grid; 
    grid-template-columns: auto 1.5fr 1fr;
    grid-template-rows: 45px 45px;
    gap: 0; 
    grid-template-areas: 
      "img formField formField"
      "img formInput formInput"; 
    & > .formField {
        grid-area: formField;
    }
    
    .formInput {
        grid-area: formInput;
        .formLabel {
            @extend %a-p;
        }
        .formField {
            width: auto;
            margin-left: 16px;
        }
    }
    :nth-child(3n) {
        grid-area: img;
        & img { 
            height: 100%; 
            width: 100%;
            object-fit: cover;
            padding-right: 16px;
        }
    }
    :nth-child(4n) {
        display: none;
    }
}

/*
* END FORMS
*
*/