/*  ------------------------------

Fonts 

---------------------------------*/

  body {
    font-family: "Poppins";
    font-weight: 400;
    line-height: normal;
    overflow-x: hidden;
    &.-primary {
      color: $color-primary;
    }
  }
  
  .a-title1 {
    font-size: 32px;
    font-weight: 600;
    color: $color-secondary;
    margin: 16px 0;
    &.-center{
      text-align: center;
    }
    &.-website {
      color: $color-black;
      font-weight: 500;
    }
    &.-black {
      color: $color-black;
    }
  }

  .a-title2 {
    font-size: 20px;
    font-weight: 600;
    color: $color-primary;
    margin: 8px 0;
    &.-nowrap {
      white-space: nowrap;
    }
    &.-black {
      color: $color-black;
    }
  }

  %a-label {
    font-size: 16px;
    font-weight: 600;
    color: $color-black;
    margin: 8px 0;
  }

  %a-label-front {
    font-size: 14px;
    font-weight: 400;
    color: $color-black;
    margin: 8px 0;
  }
  
  %a-title3 {
    font-size: 20px;
    font-weight: $medium;
    color: $color-black;
  }
  
  %a-p {
    font-size: $normalFont;
    font-weight: $regular;
    color: $color-black;
    line-height: normal;
  }

  .a-p {
    font-size: $normalFont;
    font-weight: $regular;
    color: $color-black;
    line-height: normal;
    &.-primary {
      color: $color-primary;
    }
    &.-grey {
      color: $color-grey;
    }
  }
  
  .a-placeholder {
    font-size: $normalFont;
    font-weight: $regular;
    color: $color-black;
  }
  
  .a-textDetails{
    font-size: 12px;
    font-weight: $regular;
    color: $color-primary;
    &.-primary {
      color: $color-primary;
    }
    .-black {
      color: $color-black;
    }
    &.-black {
      color: $color-black;
    }
    &.-grey {
      color: $color-grey;
    }
    &.-margin {
      margin-left: 16px;
    }
  }
  
  .a-textAriane {
    font-size: $normalFont;
    font-weight: $regular;
    color: $color-secondary;
    &.-black {
      color: $color-black;
    }
  }