.l-backOffice {
  background-color: $color-background;
  padding-top: 48px;
  min-height: calc(100vh - 100px);
  @include desktop-up {
    margin-left: 10vw;
    min-height: calc(100vh - 50px);
  }
}

.l-frontOffice {
      margin-top: 50px;
      $total-spacer-sm :  $block-spacer-sm + $block-spacer-sm;
      height: calc(100vh - $total-spacer-sm);
  
    @include desktop-up {
      $total-spacer-sm :  $block-spacer-md + $block-spacer-md;
      height: calc(100vh - $total-spacer-sm);
    }
  
    &.-noTop {
      padding-top: 0;
    }
  
    &.-noBottom {
      padding-bottom: 0;
    }
  
    &.-paddingBottom {
      padding: 0 0 60px 0;
    }

    &.-grey {
      background: $color-background;
    }
  }

.l-frontOffice__content {
    width: 100vw;
    padding: 0 $content-offset-sm;
    max-width: $content-width;
    &.-background {
      background: $color-website--light;
    }
    &.-spaceBetween {
      display: flex;
      justify-content: space-between;
    }
    &.-center {
      margin: 0 auto;
    }
    
    &.-flexCenter {
      display: flex;
      justify-content: center;
      gap: 32px;
    }
  
    &.-slider {
      max-width: $content-width + 100;
    }

    &.-marginY {
      margin-top: 24px;
      margin-bottom: 24px;
    }
  
    &.-twoParts {
      display: flex;
      height: 100%;
      align-items: center;
      background-color: $color-website--light;
      justify-content: center;
      &>img {
        display: none;
      }
      .o-form-front {
        &>* {
          max-width: 650px;
          margin: 0 auto;
        }
      }
      @include desktop-up {
        max-width: none;
        padding: 0;
        &>img {
          display: block;
          width: 40%;
          object-fit: cover;
          height: 100%;
        }
        .o-form-front {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 60%;
        }
      }
    }

    &.-centerBlock {
      @include desktop-up {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
      }
    }

    &.-background {
      background: $color-website--light
    }
}
.p-home__hero {
  position: relative;
  height: 50vh;
  width: 100vw;
  .p-home__heroImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .p-home__heroBasket {
    position: absolute;
    display: flex;
    gap: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 700px;
    height: auto;
    min-height: min-content;
    padding: 24px;
    background-color: $color-website--light;
    .p-home__heroBasketImg {
      width: 200px;
      height: auto;
      object-fit: cover;
    }
    .p-home__heroBasketWrapper {
      display: flex;
      flex-direction: column;
      .a-button {
        align-self: flex-end;
      }
      .a-textDetails {
        margin: 10px 0;
      }
    }
    @include tablet-down {
      width: 100%;
    }
  }
}

.o-pageContainer {
  padding: 0 16px 16px 24px;
  @include desktop-up {
    margin-left: 13vw;
    &.-withoutArbo {
      margin-left: 0;
    }
    .o-pageContainer__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  
}

.o-dashboardContainer {
  padding: 0 16px 16px 24px;
  .o-dashboardContainer__recap {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 24px;
    .-opacity {
      opacity: 0.7;
    }
  }
}

.m-linksPages {
    margin: 24px 8px;
    & a {
        display: flex;
        align-items: center;
    }
    & img {
        margin-right: 8px;
    }
    @include desktop-up {
      margin: 16px 8px;
    }
    @include desktop-down {
      .a-link {
        margin-top: 16px;
      }
    }

}

.a-illuArbo {
    border: 2px solid $color-secondary;
    border-width: 0 0 2px 2px;
    width: 8px;
    height: 16px;
    margin: 0 8px 8px 8px;
}