.l-backOffice {
  background-color: $color-background;
  padding-top: 48px;
  min-height: calc(100vh - 113px);
  @include desktop-up {
    margin-left: 10vw;
    min-height: calc(100vh - 50px);
  }
}

.l-frontOffice {
      padding-top: $block-spacer-sm;
      padding-bottom: $block-spacer-sm;
      $total-spacer-sm :  $block-spacer-sm + $block-spacer-sm;
      height: calc(100vh - $total-spacer-sm);
  
    @include desktop-up {
      padding-top: $block-spacer-md;
      padding-bottom: $block-spacer-md;
      $total-spacer-sm :  $block-spacer-md + $block-spacer-md;
      height: calc(100vh - $total-spacer-sm);
    }
  
    &.-noTop {
      padding-top: 0;
    }
  
    &.-noBottom {
      padding-bottom: 0;
    }
  
    &.-paddingBottom {
      padding: 0 0 60px 0;
    }

    &.-grey {
      background: $color-background;
    }
  }

.l-frontOffice__content {
    width: 100vw;
    padding: 0 $content-offset-sm;
    max-width: $content-width;
  
    &.-spaceBetween {
      display: flex;
      justify-content: space-between;
    }
  
    &.-slider {
      max-width: $content-width + 100;
    }
  
    &.-slider {
      max-width: $content-width + 100;
    }
  
    &.-centerBlock {
      @include desktop-up {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
      }
    }
}

.o-pageContainer {
  padding: 0 16px 16px 24px;
  @include desktop-up {
    margin-left: 13vw;
    &.-withoutArbo {
      margin-left: 0;
    }
    .o-pageContainer__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  
}

.m-linksPages {
    margin: 24px 8px;
    & a {
        display: flex;
        align-items: center;
    }
    & img {
        margin-right: 8px;
    }
    @include desktop-up {
      margin: 16px 8px;
    }
    @include desktop-down {
      .a-link {
        margin-top: 16px;
      }
    }

}

.a-illuArbo {
    border: 2px solid $color-secondary;
    border-width: 0 0 2px 2px;
    width: 8px;
    height: 16px;
    margin: 0 8px 8px 8px;
}