/**
 * Breakpoints
 */
 $bp-tablet-up: 768px;
 $bp-tablet-down: 767px;
 $bp-desktop-up: 1200px;
 $bp-desktop-down: 1199px;
 $bp-desktop-large-up: 1400px;
 $bp-desktop-large-down: 1399px;
 
 $content-width: 1200px;
 $content-offset-md: 36px;
 $content-offset-sm: 16px;
 
 $block-spacer-md: 60px;
 $block-spacer-sm: 30px;

 // Site global colors
$color-primary: #00796B;
$color-secondary: #004C40;
$color-light: #48a999;
$color-light--opacity: #48a9995f;
$color-background: #E3E9E9;
$color-background-element: #FFF;
$color-alert: #EC6262;
$color-black: #161616;
$color-black--transparent: #1616163a;
$color-white: #FFF;
$color-transparent: transparent;
$color-website: #689F38;
$color-website--light: #EFF5EA;

$regular: 400;
$medium: 500;
$semiBold: 600;
$normalFont: 16px;
$smallFont: 14px;

/**
 * Grid system
 */
// Minimum lateral space between side of screen and content
$content-offset-sm: 16px;
$content-offset-md: 72px;

// Vertical space between blocks
$block-spacer-sm: 20px;    
$block-spacer-md: 32px;
$block-spacer-lg: 69px;

// Space between elements inside blocks
$content-width: 1200px;
$small-content-width: 990px;
$content-inner-padding: 40px;

/**
 * Transitions
 */
 $transition: 0.2s ease;

 /**
 * Shadows
 */
 $shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);