	{# please create your own html here :) you can trash main, just keep the form logic ! #}
	<nav>
		<ul>
			<li>
				<a href="" title=""><img src="" alt="">Page "Accueil"</a>
			</li>
			<li>
				<a href="" title=""><img src="" alt="">Page "Les Produits"</a>
				<a href="" title=""><img src="" alt=""><img src="" alt="">Produits</a>
			</li>
            <li>
				<a href="" title=""><img src="" alt="">L'AMAP</a>
			</li>
            <li>
				<a href="" title=""><img src="" alt="">Page "Nos producteurs"</a>
				<a href="" title=""><img src="" alt=""><img src="" alt="">Producteurs</a>
			</li>
            <li>
				<a href="" title=""><img src="" alt="">Page "Nous trouver"</a>
			</li>
            <li>
				<a href="" title=""><img src="" alt="">Page "Nous Contacter"</a>
			</li>
            <li>
				<a href="" title=""><img src="" alt="">Page "Actualités"</a>
				<a href="" title=""><img src="" alt=""><img src="" alt="">Actualités</a>
			</li>
            <li>
				<a href="" title=""><img src="" alt="">Page "Recettes"</a>
				<a href="" title=""><img src="" alt=""><img src="" alt="">Recettes</a>
			</li>
		</ul>
	</nav>