		{# <section class="o-pageWithCards">
			<a href="{{ path('add_product') }}" class="m-cardAddNew" title="Ajouter un produit"><img src="/icons/add.svg" class="a-icon" alt="icon +">Ajouter un produit</a>
			{% for product in products %}
				{% include('@molecule/card-with-image/card-with-image.html.twig') %}
			{% endfor %}
		</section> #}