/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  position: relative;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input[type=submit], input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.woff") format("woff"), url("/assets/fonts/Poppins-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.woff") format("woff"), url("/assets/fonts/Poppins-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-SemiBold.woff") format("woff"), url("/assets/fonts/Poppins-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
/**
 * Breakpoints
 */
/**
 * Grid system
 */
/**
 * Transitions
 */
/**
* Shadows
*/
/*  ------------------------------

Fonts 

---------------------------------*/
body {
  font-family: "Poppins";
  font-weight: 400;
  line-height: normal;
  overflow-x: hidden;
}

.a-title1 {
  font-size: 32px;
  font-weight: 600;
  color: #004C40;
  margin: 16px 0;
}
.a-title1.-center {
  text-align: center;
}

.a-title2 {
  font-size: 20px;
  font-weight: 600;
  color: #00796B;
  margin: 8px 0;
}

.formLabel {
  font-size: 16px;
  font-weight: 600;
  color: #161616;
  margin: 8px 0;
}

.vich-image .formInput .formLabel {
  font-size: 16px;
  font-weight: 400;
  color: #161616;
  line-height: normal;
}

.a-placeholder {
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  color: #161616;
}

.a-textDetails {
  font-size: 12px;
  font-weight: 400;
  color: #00796B;
}

.a-textAriane {
  font-size: 16px;
  font-weight: 400;
  color: #004C40;
}

.a-icon {
  width: 20px;
  height: auto;
  margin: 8px;
}

.a-logo {
  display: flex;
  align-items: center;
  width: 10vw;
}

/*
* Generics rules
*
*/
.generic-flex {
  display: flex;
}
.generic-flex.-column {
  flex-direction: column;
}
.generic-flex.-alignCenter {
  align-items: center;
}
.generic-flex.-justifyCenter {
  justify-items: center;
}

.generic-m8 {
  margin: 8px;
}

.generic-m8r {
  margin-right: 8px;
}

.generic-m16 {
  margin: 16px;
}

.generic-m16r {
  margin-right: 16px;
}

.generic-m8_row {
  margin: 8px 0;
}

.generic-m8_col {
  margin: 0 8px;
}

.generic-m16_row {
  margin: 16px 0;
}

.generic-m40t {
  margin-top: 40px;
}

.generic-m40b {
  margin-bottom: 40px;
}

.generic-whiteBackground {
  background-color: #FFF;
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 24px;
}

.generic-greenBackground {
  background-color: #00796B;
}

.generic-center {
  text-align: center;
}

/*
* FORMS
*
*/
.form-cancel {
  position: absolute;
  top: 16px;
  left: 16px;
  vertical-align: baseline;
  cursor: pointer;
}

.form-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  border-radius: 8px;
  padding: 32px 40px;
}

.formInput {
  margin: 8px 0;
}

.formField, .password-field, .form-control {
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  border: 1px solid #00796B;
  padding: 8px 16px;
  border-radius: 5px;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  color: #161616;
}
.formField:focus, .password-field:focus, .form-control:focus {
  border: 1px solid #00796B;
  outline: none;
  background-color: rgba(72, 169, 153, 0.3725490196);
}

.vich-image {
  display: grid;
  grid-template-columns: auto 1.5fr 1fr;
  grid-template-rows: 45px 45px;
  gap: 0;
  grid-template-areas: "img formField formField" "img formInput formInput";
}
.vich-image > .formField {
  grid-area: formField;
}
.vich-image .formInput {
  grid-area: formInput;
}
.vich-image .formInput .formField {
  width: auto;
  margin-left: 16px;
}
.vich-image :nth-child(3n) {
  grid-area: img;
}
.vich-image :nth-child(3n) img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-right: 16px;
}
.vich-image :nth-child(4n) {
  display: none;
}

/*
* END FORMS
*
*/
.l-backOffice {
  background-color: #E3E9E9;
  padding-top: 48px;
  min-height: calc(100vh - 113px);
}
@media (min-width: 1200px) {
  .l-backOffice {
    margin-left: 10vw;
    min-height: calc(100vh - 50px);
  }
}

.l-frontOffice {
  padding-top: 20px;
  padding-bottom: 20px;
  height: calc(100vh - 40px);
}
@media (min-width: 1200px) {
  .l-frontOffice {
    padding-top: 32px;
    padding-bottom: 32px;
    height: calc(100vh - 64px);
  }
}
.l-frontOffice.-noTop {
  padding-top: 0;
}
.l-frontOffice.-noBottom {
  padding-bottom: 0;
}
.l-frontOffice.-paddingBottom {
  padding: 0 0 60px 0;
}

.l-frontOffice__content {
  width: 100vw;
  padding: 0 16px;
  max-width: 1200px;
}
.l-frontOffice__content.-spaceBetween {
  display: flex;
  justify-content: space-between;
}
.l-frontOffice__content.-slider {
  max-width: 1300px;
}
.l-frontOffice__content.-slider {
  max-width: 1300px;
}
@media (min-width: 1200px) {
  .l-frontOffice__content.-centerBlock {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.o-pageContainer {
  padding: 0 16px 16px 24px;
}
@media (min-width: 1200px) {
  .o-pageContainer {
    margin-left: 13vw;
  }
}

.m-linksPages {
  margin: 24px 8px;
}
.m-linksPages a {
  display: flex;
  align-items: center;
}
.m-linksPages img {
  margin-right: 8px;
}
@media (min-width: 1200px) {
  .m-linksPages {
    margin: 16px 8px;
  }
}
@media (max-width: 1199px) {
  .m-linksPages .a-link {
    margin-top: 16px;
  }
}

.a-illuArbo {
  border: 2px solid #004C40;
  border-width: 0 0 2px 2px;
  width: 8px;
  height: 16px;
  margin: 0 8px 8px 8px;
}

.a-button {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 5px;
}
.a-button.-primary {
  color: #FFF;
  background: #00796B;
  border: 1px solid #00796B;
}
.a-button.-primary:hover, .a-button.-primary :focus {
  color: #00796B;
  background: transparent;
  border: 1px solid #00796B;
}
.a-button.-primaryGhost {
  color: #00796B;
  background: transparent;
  border: 1px solid #00796B;
}
.a-button.-primaryGhost:hover, .a-button.-primaryGhost :focus {
  color: #FFF;
  background: #00796B;
  border: 1px solid #00796B;
}
.a-button.-primaryGhostLight {
  color: #E3E9E9;
  background: transparent;
  border: 1px solid #E3E9E9;
}
.a-button.-primaryGhostLight:hover, .a-button.-primaryGhostLight :focus {
  color: #004C40;
  background: #E3E9E9;
  border: 1px solid #E3E9E9;
}
.a-button.-alert {
  color: #FFF;
  background: #EC6262;
  border: 1px solid #EC6262;
}
.a-button.-alert:hover, .a-button.-alert :focus {
  color: #EC6262;
  background: transparent;
  border: 1px solid #EC6262;
}
.a-button.-alertGhost {
  color: #EC6262;
  background: transparent;
  border: 1px solid #EC6262;
}
.a-button.-alertGhost:hover, .a-button.-alertGhost :focus {
  color: #FFF;
  background: #EC6262;
  border: 1px solid #EC6262;
}
.a-button.-website {
  color: #FFF;
  background: #689F38;
  border: 1px solid #689F38;
}
.a-button.-website:hover, .a-button.-website :focus {
  color: #689F38;
  background: transparent;
  border: 1px solid #689F38;
}
.a-button.-websiteGhost {
  color: #689F38;
  background: transparent;
  border: 1px solid #689F38;
}
.a-button.-websiteGhost:hover, .a-button.-websiteGhost :focus {
  color: #FFF;
  background: #689F38;
  border: 1px solid #689F38;
}
.a-button.-withIcon {
  display: flex;
  align-items: center;
  gap: 8px;
}

.a-link {
  font-size: 16px;
  font-weight: 500;
  color: #00796B;
  cursor: pointer;
}
.a-link.-withIcon {
  display: flex;
  align-items: center;
}
.a-link.-light {
  color: #FFF;
}
.a-link.-light:active {
  color: #48a999;
}
.a-link:hover {
  text-decoration: underline;
}
.a-link:active {
  color: #00796B;
}
.a-link.-hideIcon span {
  display: none;
}
@media (min-width: 1200px) {
  .a-link.-hideIcon span {
    display: block;
  }
}
.a-link.-menuVariant {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}
.a-link.-menuVariant img {
  height: 16px;
  width: 16px;
  margin-right: 0;
}
@media (min-width: 1200px) {
  .a-link.-menuVariant {
    font-size: 16px;
    height: auto;
    width: 90%;
    max-width: 160px;
    border-radius: 8px;
    background: #004C40;
    margin: 0 auto 16px;
    padding: 8px;
  }
  .a-link.-menuVariant:hover, .a-link.-menuVariant :active {
    background: transparent;
    text-decoration: none;
  }
  .a-link.-menuVariant img {
    height: 32px;
    width: 32px;
    margin-right: 8px;
  }
}

/* All scss files are called at the app.scss file */
.m-cardWithImage {
  text-align: center;
  border-radius: 8px;
  background-color: #FFF;
}
.m-cardWithImage__image {
  border-radius: 8px 8px 0 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}
.m-cardWithImage__buttons {
  display: flex;
  justify-content: space-around;
  margin: 8px;
}
.m-cardWithImage h2 {
  margin: 0 8px;
}
.m-cardWithImage__state {
  justify-content: center;
}
.m-cardWithImage .-frontOffice {
  display: none;
}
.m-cardWithImage .-backOffice {
  display: none;
}
.m-cardWithImage.-backgroundGreen {
  background-color: #EFF5EA;
}

/*
* Nav backOffice
*
*/
.m-navigationTopBar {
  width: 100vw;
  height: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  background: #004C40;
  color: #E3E9E9;
  position: fixed;
  z-index: 1;
}
.m-navigationTopBar .m-navigationTopBar__nav {
  display: flex;
  width: 100%;
}
.m-navigationTopBar .m-navigationTopBar__items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m-userSection {
  display: none;
}

.m-navigationSideBar {
  z-index: 10;
  position: fixed;
  bottom: 0;
  background: #00796B;
  width: 100vw;
  padding: 8px 0;
}
.m-navigationSideBar ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media (min-width: 1200px) {
  .m-navigationSideBar {
    height: 100vh;
    width: 10vw;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 auto;
  }
  .m-navigationSideBar .m-navigationSideBar__nav {
    height: 100%;
  }
  .m-navigationSideBar .m-navigationSideBar__nav ul {
    display: block;
    padding-top: 80px;
    height: 50%;
  }
  .m-navigationSideBar .m-navigationSideBar__nav button {
    width: 90%;
    max-width: 160px;
  }
}

.m-menuArbo .m-menuArbo__menuButton-onlyForMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 80px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #00796B;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
  cursor: pointer;
}
.m-menuArbo .m-menuArbo__menuButton-onlyForMobile img {
  width: 20px;
  height: 20px;
}
@media (max-width: 1199px) {
  .m-menuArbo:not(.-open) ul {
    position: absolute;
    background-color: #E3E9E9;
    width: 70vw;
    height: 100%;
    transition: 0.2s ease;
    left: 100%;
  }
  .m-menuArbo:not(.-open) .m-menuArbo__background-onlyForMobile {
    display: none;
  }
  .m-menuArbo.-open ul {
    position: absolute;
    background-color: #E3E9E9;
    width: 70vw;
    height: 100%;
    transition: 0.2s ease;
    left: 30vw;
    transition: 0.2s ease;
  }
  .m-menuArbo.-open .m-menuArbo__background-onlyForMobile {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(22, 22, 22, 0.2274509804);
  }
}
@media (min-width: 1200px) {
  .m-menuArbo {
    display: block;
    position: fixed;
    width: 13vw;
    height: 100vh;
    background-color: transparent;
  }
  .m-menuArbo .m-menuArbo__menuButton-onlyForMobile {
    display: none;
  }
  .m-menuArbo .m-menuArbo__subTitle {
    display: flex;
    align-items: center;
    margin: 8px;
  }
}

/* All scss files are called at the app.scss file */
.o-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 16px;
  justify-content: left;
}
.o-gallery .o-gallery__newCard {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 8px;
  background: #00796B;
  color: #FFF;
}
.o-gallery.-grid24 {
  grid-gap: 24px;
}/*# sourceMappingURL=app.css.map */