{% set componentClass = 'm-navigationTopBar' %}
{% set attributeList = attributeList is defined ? attributeList : {} %}
{% set attributeList = attributeList|merge({'class': (attributeList.class is defined ? componentClass ~' ' ~ attributeList.class : componentClass)}) %}

<header {% for attribute, value in attributeList %} {{ attribute }}="{{ value }}"{% endfor %}>  
    <div class="a-logo"><img src="/icons/logo.svg" alt="logo" class="icon">
    </div>
    <nav class="m-navigationTopBar__nav">
        <ul class="m-navigationTopBar__items">
            <li>
            {% include '@atom/link/link.html.twig' with {
                    text: "voir le site",
                    icon: "/icons/eye.svg",
                    alt: "voir le site",
                    attributeList: {
                        class:"-light -withIcon",
                        href: path('app_products')
                    }
                } %}
            </li>
            <li>
            {% include '@atom/link/link.html.twig' with {
                    text: "mon compte",
                    icon: "/icons/user.svg",
                    alt: "utilisateur",
                    attributeList: {
                        class:"-light -withIcon -hideIcon js-user-button",
                        href: "#"
                    }
                } %}
                {% include '@molecule/user-section/user-section.html.twig'  %}
                <!-- submenu's end -->
            </li>
        </ul>
    </nav>
</header>
