.m-menuArbo { 
    .m-menuArbo__menuButton-onlyForMobile {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 80px;
        right: 30px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: $color-primary;
        box-shadow: $shadow;
        z-index: 10;
        cursor: pointer;

        img {
            width: 20px;
            height: 20px;
        }
    }
    
    @include desktop-down {
        &:not(.-open) {
            ul {
                position: absolute;
                background-color: $color-background;
                width: 70vw;
                height: 100%;  
                transition: $transition;
                left: 100%;
            }
            .m-menuArbo__background-onlyForMobile {
                display: none; 
            }
        }
        &.-open {
            ul {
                position: absolute;
                background-color: $color-background;
                width: 70vw;
                height: 100%;  
                transition: $transition;
                left: 30vw;
                transition: $transition;
            }
            .m-menuArbo__background-onlyForMobile {
                display: block;
                position: absolute;
                width: 100vw;
                height: 100vh;
                background: $color-black--transparent;   
            }
            
        }
        
    }
    @include desktop-up {
        .m-menuArbo__menuButton-onlyForMobile {
            display:none;
        }
        display: block;
        position: fixed;
        width: 13vw;
        height: 100vh;
        background-color: $color-transparent;
        .m-menuArbo__subTitle {
            display: flex;
            align-items: center;
            margin: 8px;
        }
    }
}