/*
* Nav backOffice
*
*/

.m-navigationTopBar {
    width: 100vw;
    height: 50px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    background: $color-secondary;
    position: fixed;
    z-index: 11;
    .m-navigationTopBar__nav {
        display: flex;
        width: 100%;
    }
    .m-navigationTopBar__items {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

