.m-menuFront__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0 $content-offset-sm;
  max-width: $content-width;
  margin: 0 auto;
  .-only-for-mobile {
    display: none;
  }
}

.m-menuFront {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  .m-menuFront__nav.-only-for-mobile {
    display: none;
  }
  @include tablet-down {
    &:not(.-open) {
      .m-menuFront__nav {
        display: none;
      }
      .m-menuFront__nav.-only-for-mobile {
        display: none;
      }
      .a-button {
        display: none;
      }
      .-only-for-mobile {
        display: block;
      }
    }
    &.-open {
      height: 100vh;
      .m-menuFront__nav {
        display: none;
      }
      .a-button {
        display: none;
      }
      .m-menuFront__nav.-only-for-mobile {
        margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
        transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 100%;
        align-items: center;
        .a-button {
          display: block;
        }
      }
      .-only-for-mobile {
        display: block;
      }
    }
  }
}

.m-menuFront__separator {
  height: auto;
  width: 2px;
  background: $color-black--transparent;
}

.m-menuFront__items {
  display: flex;
  gap: 8px;
}
