<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">	
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

    {% set isBackoffice = "-admin" in app.request.attributes.get('_route') %}
    
      {% block navbar %}
          {% if isBackoffice %}{% include '@molecule/menu/menu.html.twig' %}{% else %}{% include '@molecule/menu-front/menu-front.html.twig' %}{% endif %} 
      {% endblock %}   
      {% block sideNavbar %}
          {% if isBackoffice %}{% include '@molecule/rail-navigation/rail-navigation.html.twig' %}{% endif %} 
      {% endblock %}     

  
      <main class="{% if isBackoffice %}l-backOffice{% else %}l-frontOffice{% endif %} {% if backOfficeBg is defined and backOfficeBg %}-grey{% endif %}"> 

      {% block body %}{% endblock %}

      </main>
      {% block footer %}{# no footer in the backOffice #}{% endblock %}
    </body>
</html>




