.l-backOffice {
  background-color: $color-background;
  padding-top: 48px;
  @include desktop-up {
    margin-left: 10vw;
    height: calc(100vh - 50px);
  }
}

.l-frontOffice {
    padding-top: $block-spacer-sm;
    padding-bottom: $block-spacer-sm;
  
    @include desktop-up {
      padding-top: $block-spacer-md;
      padding-bottom: $block-spacer-md;
    }
  
    &.-noTop {
      padding-top: 0;
    }
  
    &.-noBottom {
      padding-bottom: 0;
    }
  
    &.-paddingBottom {
      padding: 0 0 60px 0;
    }
  }

.l-frontOffice__content {
    width: 100vw;
    padding: 0 $content-offset-sm;
    max-width: $content-width;
  
    &.-spaceBetween {
      display: flex;
      justify-content: space-between;
    }
  
    &.-slider {
      max-width: $content-width + 100;
    }
  
    &.-slider {
      max-width: $content-width + 100;
    }
  
    &.-centerBlock {
      @include desktop-up {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
      }
    }
}

.o-pageContainer {
    margin-left: 13vw;
    padding: 0 16px 16px 24px;
}

.m-linksPages {
    margin: 16px 8px;;
    & a {
        display: flex;
        align-items: center;
        margin: 8px;
    }
    & img {
        margin-right: 8px;
    }
}

.a-illuArbo {
    border: 2px solid $color-secondary;
    border-width: 0 0 2px 2px;
    width: 8px;
    height: 16px;
    margin: 0 8px 8px 8px;
}