{% extends 'base.html.twig' %}

{% block title %}{{ pageIncludeTitle }}{% endblock %}

{% block body %}
	{% include('@molecule/menu-arbo/menu-arbo.html.twig') %}
	<div class="o-pageContainer">
		<h1 class="a-title1">{{ pageIncludeTitle }}</h1>
		{% for message in app.flashes('success') %}
			{% include '@molecule/addflash/addflash.html.twig' with {
				text: message,
			} %}		
		{% endfor %}
	{% include( pageInclude ) %}
	</div>
{% endblock %}
