{% extends 'base.html.twig' %}

{% block title %}{{ pageIncludeTitle }}{% endblock %}

{% block body %}
	{% include('@molecule/menu-arbo/menu-arbo.html.twig') %}
	<div class="o-pageContainer">
		<div class="o-pageContainer__head">
			<h1 class="a-title1">{{ pageIncludeTitle }}</h1>
			{% if pageIncludeTitle == "Produits" %}
				{% include('@molecule/filters-bar/filters-bar.html.twig') %}
			{% endif %}
		</div>
		{% for message in app.flashes('success') %}
			{% include '@molecule/addflash/addflash.html.twig' with {
				text: message,
			} %}		
		{% endfor %}
	{% include( pageInclude ) %}
	</div>
{% endblock %}
