{% extends 'base_backOffice.twig' %}

{% block title %}{{ pageIncludeTitle }}{% endblock %}

{% block body %}
	{% include('@organism/menu-arbo/menu-arbo.html.twig') %}
	<div class="o-pageContainer">
		<h1 class="a-title1">{{ pageIncludeTitle }}</h1>
	{% include( pageInclude ) %}
{% endblock %}
