//buttons
.a-button {
    @include textButton;
    padding: 8px 16px;
    border-radius: 5px;
    &.-primary {
        @include regular-btn($color-primary, $color-white);
    }
    &.-primaryGhost {
        @include ghost-btn($color-primary, $color-white);
    }
    &.-primaryGhostLight {
        @include ghost-btn($color-background, $color-secondary);
    }
    &.-alert {
        @include regular-btn($color-alert, $color-white);
    }
    &.-alertGhost {
        @include ghost-btn($color-alert, $color-white);
    }
    &.-website {
        @include regular-btn($color-website, $color-white);
    }
    &.-websiteGhost {
        @include ghost-btn($color-website, $color-white);
    }
    &.-withIcon {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}