@font-face {
  font-family: "Poppins";
  src: url("~assets/fonts/Poppins.woff2") format("woff2"),
    url("~assets/fonts/Poppins.woff") format("woff");
  font-weight: 100 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("~assets/fonts/Poppins-Bold.woff2") format("woff2"),
    url("~assets/fonts/Poppins-Bold.woff") format("woff");
  font-weight: 600 900;
  font-style: normal;
}
